{% extends 'layout.html' %} {% block title %}Login - Guardia{% endblock %} {%
block content %} {% with messages = get_flashed_messages(with_categories=true)
%} {% if messages %}
<ul>
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<section class="auth-page">
  <h1>Login</h1>
  <form method="POST" action="{{ url_for('login') }}">
    <label for="email">Email</label>
    <input class="input-field" type="email" id="email" name="email" required><br><br>
    <label for="password">Password</label>
    <input class="input-field" type="password" id="password" name="password" required><br><br>
    <button type="submit" class="button-primary">Login</button>
  </form>
  <p>
    Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
  </p>
</section>
{% endblock %}
